body{
    width: 100%;
    margin: 0;
    background-image: url('./00_Imagenes/00_Fondo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}


/* CSS HEADER */
.encabezado-principal{
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    margin: 40px 40px 0 40px;
    height: 50px;
    border-bottom: 2px solid gray;
}

.encabezado-principal nav{
    display: flex;
    align-items: center;
    width: 400px;
}

.search{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.encabezado-principal img.icon-search{
    width: 30px;
    height: 30px;
}

.encabezado-principal img.icon-mountain{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid black;
}


.encabezado-principal .menus{
    padding: 0;
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 100%;
}

.encabezado-principal .menus li{
    cursor: pointer;
    height: 48px;
    display: flex;
    align-items: center;
    border-bottom: 2px solid transparent;
    transition: border-color 1s;;
}

.encabezado-principal .menus li:hover{
    border-color: red;
}

/* CSS SECTION MAIN */

.section-main{
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    gap: 10px;
    padding: 20px 20px 20px 50px;
    margin-bottom: 100px;
}

.section-main .tittle-main{
    font-size: 60px;
    text-align: center;
    color: rgb(92, 83, 83);
}

.section-main .tittle-parraf p{
    text-align: justify;
}

/* CSS SECTION ABOUT AS*/

.section-aboutAs{
    padding: 0 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

.section-aboutAs .more-details{
    width: 900px;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1.1fr;
    gap: 90px;
    list-style: none;
}

.section-aboutAs .more-details li{
    display: grid;
    grid-template-columns: 0.3fr 1fr;
    cursor: pointer;
    transition: border-color 2s;
    border: 2px solid transparent;
}
.section-aboutAs .more-details li:hover{
    border-color: #D6DBDF #AEB6BF #85929E #AEB6BF  ;
}

.section-aboutAs .more-details li .img-iconDestino{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.more-details .icon-destino{
    width: 40px;
    height: 40px;
}


.more-details .title-moreDetails{
    margin: 10px 0 0;
}

.section-aboutAs .more-details li p{
    margin: 10px;
    text-align: justify;
}

.more-details .icon-masDetalles{
    margin: 0 10px;
    width: 20px;
    height: 20px;
} 

.section-aboutAs .more-details li a{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-decoration: none;
    font-weight: bold;
    color: rgb(65, 59, 59);
    margin-left: 10px;
}


/*SECTION TOURS */

.section-tours {
    text-align: center  ;
}

.section-tours .list_tours{
    list-style: none;
    display: flex;
    justify-content: center;
}

.section-tours .list_tours li{

    margin: 10px;
}

.section-tours .list_tours li:nth-child(1){
    background: url(./00_Imagenes/05_Everest.jpg);
    background-size: cover;
    width: 50px;
    height: 300px;
    cursor: pointer;
    transition: width 2s;
}
.section-tours .list_tours li:nth-child(1).expander {
    width: 300px;
}

.section-tours .list_tours li:nth-child(2){
    background: url(./00_Imagenes/06_k2.jpg);
    background-size: cover;
}

.section-tours .list_tours li:nth-child(3){
    background: url(./00_Imagenes/07_Kanchenjunga.jpg);
    background-size: cover;
}

.section-tours .list_tours li:nth-child(4){
    background: url(./00_Imagenes/08_Lhotse.jpg);
    background-size: cover;
}
