body{
    width: 100%;
    margin: 0;
    background-image: url('./00_Imagenes/00_Fondo.jpg');
    background-size: cover;
}

main{
    width: 100%;
}

body main .section-inactive{
    display: none;
}

/* CSS HEADER */
.encabezado-principal{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    margin: 40px 20px 0 20px;
    height: 50px;
    border-bottom: 2px solid gray;
}

.encabezado-responsive{
    font-size: 1rem;
    border-radius: 20px;
    border: 3px solid gray;
    padding: 5px;
    display: none;
}

.encabezado-principal nav{
    display: flex;
    align-items: center;
    width: 600px;
}

.search{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.encabezado-principal img.icon-search{
    width: 30px;
    height: 30px;
}

.encabezado-principal img.icon-mountain{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid black;
}


.encabezado-principal .menus{
    padding: 0;
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 100%;
}

.encabezado-principal .menus li{
    cursor: pointer;
    height: 48px;
    display: flex;
    align-items: center;
    border-bottom: 2px solid transparent;
    transition: border-color 1s, font-size 1s;
}

.encabezado-principal .menus li:hover{
    border-color: red;
    font-size: 20px;
}

/*MENU RESPONSIVE */
.menuResponsive {
    position: absolute;
    top: 92px;
    left: 5px;
    width: 90%;
    background: white;
    border: 3px solid gray;
    border-radius: 80px 40px;
    padding: 10px;
}

.menuResponsive ul{
    list-style: none;
    text-align: center;
}

.menuResponsive ul li{
    color: rgb(124, 119, 119);
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
    border-bottom: 2px solid rgb(173, 168, 168);
    transition: font-size 0.5s;
}

.menuResponsive ul li:hover{
    font-size: 50px;
}

/* CSS SECTION MAIN */

.inactive{
    display: none;
}


.section-main{
    height: 300px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 10px;
    padding: 20px 20px 20px 50px;
    margin-bottom: 100px;
}

.section-main .tittle-main{
    font-size: 40px;
    text-align: center;
    color: rgb(92, 83, 83);
    margin-bottom: 10px;
}

.section-main .tittle-parraf p{
    text-align: justify;
}

/*CSS MONTAÑAS MÁS ALTAS DE MEXICO*/

.listMountainMexico{
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;

}

.acercaDe{
    height: 100%;
    font-size: 15px;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.acercaDe li{
    transition: font-size 0.5s;
    cursor: pointer;
}

.acercaDe li:hover{
    font-size: 25px;
}

/* CSS SECTIONMONTAÑAS MAS ALTAS DE MEXICO */

.section-montanasMexico{
    box-sizing: border-box;
    width: 100%;
    padding: 50px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

.section-montanasMexico .more-details{
    width: 100%;
    padding: 0;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 50px;
    list-style: none;
}

.section-montanasMexico .more-details .container-MountainMexico{
    display: grid;
    grid-template-rows: 1.5fr 1fr;
    gap: 5px;
    place-items: center;
}

.section-montanasMexico .more-details .container-moreDetails{
    display: grid;
    grid-template-columns: 0.3fr 1fr;
    cursor: pointer;
    transition: border-color 2s;
    border: 2px solid transparent;
}
.section-montanasMexico .more-details .container-moreDetails:hover{
    border-color: #D6DBDF #AEB6BF #85929E #AEB6BF  ;
}

.section-montanasMexico .more-details li .img-iconDestino{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.more-details .icon-destino{
    width: 40px;
    height: 40px;
}


.more-details .title-moreDetails{
    margin: 10px 0 0;
}

.section-montanasMexico .more-details li p{
    margin: 10px;
    text-align: justify;
}

.more-details .icon-masDetalles{
    margin: 0 10px;
    width: 20px;
    height: 20px;
} 

.section-montanasMexico .more-details li a{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-decoration: none;
    font-weight: bold;
    color: rgb(65, 59, 59);
    margin-left: 10px;
}

.section-montanasMexico .container-MountainMexico img.imagenMontainMexico{
    width: 200px;
    height: 200px;
    border: 3px solid rgb(128, 123, 123);
    border-radius: 10px;
    transition: width 0.5s, height 0.5s;
    cursor: pointer;
}

.section-montanasMexico .container-MountainMexico img.imagenMontainMexico:hover{
    width: 300px;
    height: 300px;
}
/*SECTION MONTAÑAS MÁS ALTAS DEL MUNDO*/

.section-montanasMundo {
    text-align: center  ;
}

.section-montanasMundo h1{
    background: linear-gradient(90deg, #000, #fff, #000);
    background-repeat: no-repeat;
    background-size: 70%;
    animation: animate 4s linear infinite;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color:transparent;
}

@keyframes animate {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 50% 50%;
    }
    100% {
      background-position: 100% 50%;
    }
  }

.section-montanasMundo .list_tours{
    list-style: none;
    display: flex;
    justify-content: center;
}

.section-montanasMundo .list_tours li{
    width: 50px;
    height: 400px;
    border-radius: 20px;
    border: 3px solid white;
    margin: 5px;
}

.section-montanasMundo .list_tours li:nth-child(1){
    background: url(./00_Imagenes/05_Everest.jpg); 
    cursor: pointer;
    transition: width 2s, height 2s;
}

.section-montanasMundo .list_tours li:nth-child(1).expander {
    width: 250px;
    height: 400px ;
    background-size: cover;
}

.section-montanasMundo .list_tours li:nth-child(2){
    background: url(./00_Imagenes/06_k2.jpg);
    cursor: pointer;
    transition: width 2s;
}

.section-montanasMundo .list_tours li:nth-child(2).expander {
    width: 250px;
    height: 400px ;
    background-size: cover;
}

.section-montanasMundo .list_tours li:nth-child(3){
    background: url(./00_Imagenes/07_Kanchenjunga.jpg);
    cursor: pointer;
    transition: width 2s;
}

.section-montanasMundo .list_tours li:nth-child(3).expander {
    width: 250px;
    height: 400px ;
    background-size: cover; 
}

.section-montanasMundo .list_tours li:nth-child(4){
    background: url(./00_Imagenes/08_Lhotse.jpg);
    cursor: pointer;
    transition: width 2s;
}

.section-montanasMundo .list_tours li:nth-child(4).expander {
    width: 250px;
    height: 400px ;
    background-size: cover;
}


/*RESPONSIVE */

@media (max-width: 640px){
    .encabezado-principal nav{
        display: none;
    }

    .encabezado-responsive{
        display: block;
    }
}

@media (min-width: 641px) {
    .menuResponsive{
        display: none;
    }
  }